@import url("https://fonts.googleapis.com/css?family=M+PLUS+1p:100,300,400,500,700,800,900&subset=japanese");

/*-------------------------------------
base
-------------------------------------*/
* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "M PLUS 1p", sans-serif;
  color: #4a4a4a;
  background: #f4f4f4;
  word-break: break-all; }

a {
  color: #337ab7;
  text-decoration: none;
  transition: opacity .3s; }

em {
  color: #d00e0e;
  font-style: normal;
  font-weight: bold; }

button, input {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none; }

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none; }

body, h1, h2, h3, h4, h5, p, ul {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

/*-------------------------------------
partial
-------------------------------------*/
/*-------------------------------------
main
-------------------------------------*/
html, body {
  width: 100%;
  height: 100%; }

.main {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%; }
  .main .stage {
    position: fixed;
    top: 0;
    left: 0; }
  .main .list-arrow li {
    position: fixed;
    display: none;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    transition: all .4s ease-out; }
    .main .list-arrow li a {
      display: block;
      width: 20vh;
      height: 4.4vh;
      border: 2px solid #e60012;
      border-radius: 2px;
      background: #e60012;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
      transition: all .2s ease-out; }
      .main .list-arrow li a:before, .main .list-arrow li a:after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8%;
        height: 10%;
        border-radius: 100px;
        background: #fff;
        content: "";
        transition: all .2s ease-out; }
  .main .list-arrow .arrow-left {
    left: 50%;
    transform: translateX(-23vh); }
    .main .list-arrow .arrow-left a:before {
      transform: translate(-60%, -130%) rotate(-45deg); }
    .main .list-arrow .arrow-left a:after {
      transform: translate(-60%, 30%) rotate(45deg); }
  .main .list-arrow .arrow-right {
    right: 50%;
    transform: translateX(23vh); }
    .main .list-arrow .arrow-right a:before {
      transform: translate(-40%, -130%) rotate(45deg); }
    .main .list-arrow .arrow-right a:after {
      transform: translate(-40%, 30%) rotate(-45deg); }
  .main .login-area {
    position: fixed;
    top: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    transition: all .4s ease-out;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
    .main .login-area .login-area-inner {
      transition: all 0.9s cubic-bezier(0.64, -0.395, 0.735, 0.045); }
    .main .login-area .text-error {
      margin-bottom: 4px;
      color: #e60012;
      font-size: 3.8vw;
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
    .main .login-area .btn-skin {
      padding: 5vw 6vw;
      width: 74vw;
      border-radius: 100px;
      background: #fff;
      color: #4a4a4a;
      letter-spacing: 2px;
      letter-spacing: 0.2rem;
      font-weight: 500;
      font-size: 3.8vw;
      font-family: "M PLUS 1p", sans-serif;
      line-height: 1;
      transition: all .2s ease-out; }
    .main .login-area .input:-ms-input-placeholder {
      color: #b9b9b9; }
    .main .login-area .input::placeholder {
      color: #b9b9b9; }
    .main .login-area .input:focus {
      box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.1); }
    .main .login-area .btn-login {
      margin-top: 3vw;
      text-align: center; }
      .main .login-area .btn-login a {
        display: block;
        background: #e60012;
        color: #fff;
        opacity: .2;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
        pointer-events: none; }
    .main .login-area .btn-login-active a {
      box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.1);
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      pointer-events: auto; }
    @media screen and (min-width: 415px){

  /*415~*/ }
    @media screen and (min-width: 769px){

  /*769~*/
  .main .login-area .text-error{
    font-size: 1.6rem; }
  .main .login-area .btn-skin{
    padding: 30px 40px;
    width: 600px;
    font-size: 2rem; }
  .main .login-area .btn-login{
    margin-top: 20px; }
  .main .login-area .btn-login-active a:hover{
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; } }
    @media screen and (max-width: 934px){

  /*~934*/
  .main .list-arrow li{
    bottom: 3.5vh; } }
    @media screen and (min-width: 9345x){

  /*935~*/ }
    @media screen and (min-width: 1281px){

  /*921~*/ }
    @media screen and (min-width: 935px){
  .main .list-arrow li{
    top: 50%; }
  .main .list-arrow li a{
    width: 6vh;
    height: 21.6vh; }
  .main .list-arrow li a:hover{
    background: #fff;
    color: #e60012; }
  .main .list-arrow li a:hover:before, .main .list-arrow li a:hover:after{
    background: #e60012; }
  .main .list-arrow li a:before, .main .list-arrow li a:after{
    width: 24%;
    height: 2%; }
  .main .list-arrow .arrow-left{
    transform: translate(-50vh, -50%); }
  .main .list-arrow .arrow-left a:before{
    transform: translate(-60%, -130%) rotate(-45deg); }
  .main .list-arrow .arrow-left a:after{
    transform: translate(-60%, 30%) rotate(45deg); }
  .main .list-arrow .arrow-right{
    transform: translate(50vh, -50%); } }
